[*.cs]

# IDE0063: Use simple 'using' statement
dotnet_diagnostic.IDE0063.severity = none

# Default severity for analyzer diagnostics with category 'Performance'
dotnet_analyzer_diagnostic.category-Performance.severity = none

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = none
